* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: darkslategray;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Anton", serif;
}

h1, h2, .lead, .carousel-title {
	text-shadow: 5px 5px 10px black;
}

hr {
	border-top: 1px dotted #ffc107;
}

/* Homepage */
#homepage {
	background-image: url("../images/golf-1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

/* Who We Are */
.bio-photo {
	border-radius: 30%;
	height: 10em;
	width: 11em;
}

.bio-link {
	color: white;
	text-decoration: underline;
}

.bio-link:hover {
	color: #ffc107;
}

/* Footer */
footer {
	background-color: #343a40;
	margin-top: 50px;
}

footer address {
	margin: 0;
	padding: 8px;
}

.footer-email-link, .footer-email-link:hover {
	color: #ffc107;
}